name: 3. Generate Argus Keystore

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate keystore
        run: |
          keytool -genkey -v \
          -keystore argus-keystore.jks \
          -storepass 284619 \
          -keypass 284619 \
          -alias argus \
          -keyalg RSA \
          -keysize 2048 \
          -validity 10000 \
          -dname "CN=Argus Archive,O=Argus,L=Unknown,S=Unknown,C=IN"

      - name: Convert to Base64
        run: base64 argus-keystore.jks > keystore.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: argus-keystore
          path: |
            argus-keystore.jks
            keystore.txt
